<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4">
      <div class="question-card">
        <div class="question-card-avatar">
          <%= image_tag "http://www.placehold.it/40x40", class: "rounded-circle", alt:"avatar", type: "image" %>
          <p><%= @question.user.first_name %></p>
        </div>

        <div>
          <div class="question-card-header">
            <p><%= @question.title %></p>
          </div>
          <div class="question-card-body">
            <p><%= @question.content %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
