<div class='container'>

  <h1> Posts Index Page </h1>

  <%= link_to "Create a new post", new_task_path, class: "btn btn-info" %>

  <div class='row'>
    <div class="col-md-8">
      <% @posts.each do |post| %>
      <% if post.type == "Event" %>
      <%= render 'feeds/events_card', post: post %>

      <% elsif post.type == "Question" %>
      <%= render 'feeds/questions_card', post: post %>

      <% else %>
      <%= render 'feeds/tasks_card', post: post %>
      <% end %>
      <% end %>
    </div>

      <div class="col-md-4 card-filter text-dec-none">
        <strong><h2 class="card-filter-infos" id="card-filter-info-header">Filter by: </h2></strong>
        <p class="card-filter-inside"> Events </p>
        <p class="card-filter-inside"> Tasks </p>
        <p class="card-filter-inside"> Questions </p>
      </div>

      <div class="col-md-4 card-map text-dec-none">
        <strong><h2 class="card-map-infos" id="card-map-info-header">Map placeholder: </h2></strong>
        <p class="card-filter-inside"> Some space and room for map </p>
      </div>
    </div>
  </div>
</div>
</div>
