.event-card-1 {
  background-color: white;
  border: 1px rgba(0, 0, 0, 0.1) solid;

  border-radius: 3px;
  margin: 10px 0;
}

.event-card-1 > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.event-card-2 {
  padding: 16px 16px;
  background-color: white;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 3px;
  margin: 8px 0;

}
.event-card-1 .event-card-body {
  padding: 16px 16px;
  p {

  }
  h4 {
    font-weight: bolder;
  }
}
.event-card-2 .event-card-header {
  p {
    font-weight: bolder;
  }
}

.fa-calendar-check {
  color: green;
  font-size: 20px;
}

.going {
  color: green;
}

.gridcontainer {

}


.event-information {
  display: flex;
  justify-content: space-between;
}

.event-show-right-side {
  padding: 16px;
  justify-content: space-between;
}

.event-show-right-side-upvote {
  text-align: right;
}

.event-show-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  margin-right: 15px;
}

.event-attendances {
  text-align: right;
}
