.join-button {
  padding: 10px 30px;
}


.icon-card {
  background-color: white;
  margin: 0 15px;
  padding-bottom: 35px;
  border: 1px solid #fdb631;
  border-radius: 3px;
}


.info-icon {
  height: 60px;
  width: 60px;
}

.icon-card-header {
  // color: rgb(231,168,50);
  color: black;
  font-weight: bolder;
  opacity: .6;
  margin-top: 20px;
  font-size: 22px;
}

.icon-card-content {
  color: black;
  opacity: .5;
  text-align: center;
  font-size: 18px;
}

.btn-info {
  color: white;
  &:hover {
  color: white;
  }
  &:active {
  color: white;
  }
}

// .btn-info:hover {
//   color: white;
// }
