.join-button {
  padding: 10px 30px;
}


.icon-card {
  background-color: white;
  padding: 35px;
  border: 1px solid #fdb631;
  border-radius: 3px;
  &.left-card {
    margin: 0 20px 20px 40px;
  }
  &.center-card {
    margin: 0 20px 20px 20px;
  }
  &.right-card {
    margin: 0 40px 20px 20px;
  }

}


.info-icon {
  height: 50px;
  width: 50px;
}

.icon-card-header {
  // color: rgb(231,168,50);
  color: black;
  font-weight: bolder;
  opacity: .8;
  font-size: 22px;
  padding-left: 5px;
}

.icon-card-header-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-card-content {
  color: black;
  opacity: .5;
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
}

.btn-info {
  color: white;
  &:hover {
  color: white;
  }
  &:active {
  color: white;
  }
}

// .btn-info:hover {
//   color: white;
// }
