.sign_up {
  background-image: url('https://images.pexels.com/photos/280221/pexels-photo-280221.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9));
  background-size: cover;
  height: calc(100vh - 82px);
  background-position: center;
  padding: 5px 0;
}

.sign_up-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 40px;
  padding: 18px;
  max-width: 700px;
}

