<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1528605248644-14dd04022da1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <div class="row">
      <div class="landing-text col-md-6 offset-md-3">
        <h1 id="landing-title">Local Hero</h1>
        <br>
        <p>The easiest way to <br>connect to your neighbours</p>
        <br>
        <br>
        <a class="btn btn-info" href="#">Join now</a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row how-it-works">
      <div class="col icon-card">
        <p><i class="fas fa-mobile"></i>
          <br>
          <span class="icon-card-header">Join neighbourhood</span></p>
          <div class="icon-card-content">It's easy: Sign-up with your address and you already joined your
            neighbourhood. You posts will only be seen by <strong>verified people within 1km</strong>
          of your home.</div>
        </div>
        <div class="col icon-card">
          <p><i class="fas fa-question"></i>
            <br>
            <span class="icon-card-header">Post something</span></p>
            <div class="icon-card-content">Everyone needs a hand sometimes. Post <strong>questions</strong>, ask for <strong>help</strong> or create an <strong>event</strong>: 'Does
              anyone know a good dentist nearby?', 'Can someone help me painting my flat?',
            'I'm having a BBQ on Sunday, come around!'. </div>
          </div>
          <div class="col icon-card">
            <p><i class="fas fa-users"></i>
              <br>
              <span class="icon-card-header">Get help from neighbours</span></p>
              <div class="icon-card-content">Help is already on the way! You are looking for advice or could use
                someone to help you with a certain task? Why not ask the person next door?
                There is always <strong>somebody</strong> nearby that is <strong>willing</strong> to <strong>help</strong> <strong>you</strong>!</div>
              </div>
            </div>
          </div>
        </div>
