<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1528605248644-14dd04022da1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <div class="row">
      <div class="landing-text col-md-6 offset-md-3">
        <h1>Local Hero</h1>
        <br>
        <p>The easiest way to <br>connect to your neighbours</p>
        <br>
        <br>
        <a class="btn btn-info" href="#">Join now</a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row how-it-works">
    <div class="col icon-card">
      <p><i class="fas fa-mobile"></i>
        <br>
      Join neighbourhood</p>
    </div>
    <div class="col icon-card">
      <p><i class="fas fa-question"></i>
        <br>
      Ask a question</p>
    </div>
    <div class="col icon-card">
      <p><i class="fas fa-users"></i>
        <br>
      Get help from neighbours</p>
    </div>
  </div>
</div>
</div>
