.banner {
  background-size: cover;
  background-position: center;
  padding: 70px 0;
  height: 80vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 38px;
}

.banner p {
  font-size: 25px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner h3 {
  color: white;
}

.landing-text {
  text-align: center;
  position: relative;
  bottom: 40px;
}

.join-button {
  background: transparent;
  border-radius: 24px;
  margin: 20px 0;
}


.fa-mobile {
  color: black;
  font-size: 60px;
}

.fa-users {
  color: black;
  font-size: 60px;
}

.fa-question {
  color: black;
  font-size: 60px;
}

.how-it-works {
  text-align: center;
  width: 100%;
  margin: 0;
  position: relative;
  bottom: -70px;
}

#landing-title {
  font-size: 45px;
  font-weight: bolder;
  padding: 50px 0;
}
