.banner {
  background-size: cover;
  background-position: center;
  padding: 70px 0;
  height: 100vh;
  box-shadow: 0px 0px 8px 2px #000000;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 38px;
}

.banner p {
  font-size: 25px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner h3 {
  color: white;
}

.landing-text {
  text-align: center;
  position: relative;
  bottom: 30px;
}

.join-button {
  font-size: 20px;
  color: white;
}


.fa-mobile {
  color: black;
  font-size: 60px;
}

.fa-users {
  color: black;
  font-size: 60px;
}

.fa-question {
  color: black;
  font-size: 60px;
}

.how-it-works {
  text-align: center;
  width: 100%;
  margin: 0;
  position: relative;
  bottom: -30px;
}

#landing-title {
  font-size: 50px;
  font-weight: bolder;
}
