.card-filter {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 230px;
}

.card-filter .card-filter-infos {
  padding: 14px 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  font-size: 40px;
}

.card-filter .card-filter-infos .a {
  text-decoration:none;
  color: black !important;
}

.card-filter .card-filter-inside {
  padding: 6px 25px;
  display: flex;
  align-items: flex-end;
  position: relative;
  font-size: 14px;
  text-decoration: none !important;
}

.card-filter-inside .p {
  color: black;
}


#card-filter-info-header {
  font-size: 20px;
}

.card-filter > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-filter h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-filter p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  font-weight: 700px;
}
