.editor-wrap .form-control {
  height: 40px;
  width: 662px;
  margin-right: 10px;
}

.nav-link.gold-header {
  color: rgb(237,155,4) ;
}
#btn-leader {
  background-color: #FDB631;
  color: white;
  width: 170px;
  height: 38px;
}

