.navbar-landing {
  display: flex;
}

.navbar-landing {
  color: white;
  position: relative;
  top: -60px;
  justify-content: space-between;
  align-items: center;
}

.navbar-landing span {
  font-size: 20px;
  color: #fdb631;
}

.landing-login {
  border: 2px solid #fdb631;
  border-radius: 24px;
  padding: 10px 16px;
  text-decoration: none;
  margin-right: 10px;
}

.banner a {
  font-size: 20px;
  color: white;
}

.banner a:hover {
  text-decoration: none !important;
  color: black;
  background-color: #fdb631;
}

.logo {
  color: #fdb631;
  height: 20px;
  width: 20px;
}

.local-hero {
  font-family: 'Fredoka One', cursive;
  font-size: 30px !important;
  color: #fdb631;
  margin-left: 10px;
}
